# Maven target directory
**/target
*.class
*.jar

# Logs
*.log

# IDE files
/.idea/
/*.iml
/.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment and secrets
.env
*.env
mvn-settings.xml
.devcontainer

# Java build files
*.class

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar