spring:
  application:
    name: mcs-customers # <-- 隆Nombre l贸gico del microservicio!
  config:
    # Configuraci贸n de importaci贸n. Spring usar谩 el perfil activo para completar la URL.
    import: "optional:configserver:http://config-server:8888"
  cloud:
      # CRUCIAL: Apuntar al Config Server usando su nombre de servicio en la red de Docker/Kubernetes
    config:
      fail-fast: true # Detiene el inicio si no puede conectarse al Config Server (recomendado).
      retry:                         # Configuraci贸n de reintentos para la conexi贸n al Config Server
        max-attempts: 20
        max-interval: 5000
        initial-interval: 1000

server:
  port: 8080 # Le dice a Spring Boot que use un puerto din谩mico (ideal para Kubernetes/Docker)
  servlet:
    context-path: /mcs-customers #  Agrega el contexto esperado

springdoc:
  swagger-ui:
    path: /swagger-ui.html # Ruta para la UI (puedes cambiarla si quieres)
  packages-to-scan: py.com.yensei.mcs.customers.controllers # Escanea solo los controladores para generar la doc
---
spring:
  jpa:
    hibernate:
      ddl-auto: create  # create | update | validate | none
    show-sql: true